/* From Uiverse.io by mi-series */ 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EFD5F2;
    height: auto;
    width: auto;
    border: 2px solid #73519f;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #D2A2F2;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .title {
    color: #73519f;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
    
  }
  
  .sub_title {
    font-weight: 600;
    margin: 5px 0;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
  }
  
  .form_style {
    outline: none;
    border: 2px solid #73519f;
    box-shadow: 3px 4px 0px 1px #D2A2F2;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #D2A2F2;
  }
  
  .btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #BBDDF2;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #D2A2F2;
    color: #4380a6;
  }
  
  .btn:hover {
    opacity: .9;
  }
  
  .link {
    font-weight: 800;
    color: #73519f;
    padding: 5px;
  }


  .inter-Inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

:focus {
  outline: 0;
  border-color: #6DBFF2;
  box-shadow: 0 0 0 4px #BBDDF2;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #6DBFF2;
  background-color: #d6efff;
  z-index: 1;
  color: #4790be;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #EFD5F2;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #73519f;
  letter-spacing: .05em;
  color: #73519f;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}
