/*.prejaki_naslov
    {
        text-align: center;
        color: rgb(41, 15, 15);
        background-color: rgb(184, 91, 91);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
        text-transform: uppercase;
    }
.prejaki_paragrafi
    {
        text-align:start;
        background-color: rgb(184, 91, 91);
        border: solid 3px rgba(61, 23, 23, 0.856);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }
        */
.nav ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #AB886D;
        
    }
          
.nav li {
    float: left;
    border-right:1px solid #E4E0E1;
    }
          
.nav li:last-child {
            border-right: none;
          }
          
.nav li a 
    {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: "Roboto", serif;
            font-weight: 400;
            font-style: normal;
          }
          
.nav li a:hover:not(.active) 
        {
            background-color: #493628;
        }
          
.active 
    {
        background-color: #D6C0B3;
    }
.Roboto_Serif
{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.card-client {
    background: #AB886D;
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #D6C0B3;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }

  .flex-container {
    display: flex;
}

  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

      
